{
  "presets": [
    [
      "@babel/preset-env",
      {
        // "modules": true,
        // polyfill通过useBuiltIns按需引入
        "useBuiltIns": "usage",
        // 必须声明corejs版本 否则babel将无效
        "corejs": "2"
        // "targets": "ie >= 8"
      }
    ]
  ]
}





// 参考文章
// https://juejin.cn/post/6844903849853976590  

// babel的作用只是桥梁  真正将es6/7语法转为es5语法是 @babel/preset-env 
// 有些 @babel/preset-env是转不了的，比如includes Promise是不能转的，需要新的api @babel/polyfill来补充处理（babel7的功能）！